.card-img {
  margin: 0 auto !important;
  width: 20% !important;
  border: 2x solid red !important;
}

.card {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  align-items: flex-start;

  & img {
    width: 100%;
  }

}