.card-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 440px;

    /* dev */
    margin: 30px auto;
    box-sizing: border-box;
}

.card-product-top {
    background-color: #f5f5f5;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
 height: 70%;
}

.card-product-top > img {

    width: 80%;
}

.card-product-top > span{
    position: absolute;
    background-color: #E7FF86;
    border-radius: 25px;
    color: black;
    top: 15px;
    left: 15px;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}

.card-product-bot{
    width: 100%;
    height: 30%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-product-bot>span:nth-child(1){
    color: #8F8F8F;
    font-size: 12px;
    font-weight: 700;

}

.card-product-bot>span:nth-child(2){
    color:#474747;
    font-size: 24px;
    font-weight: 400;
}

.card-product-bot>span:nth-child(3){
    color:#1F1F1F;
    font-size: 24px;
    font-weight: 700;
}

.card-product-bot> span:nth-child(3) > span{
    text-decoration: line-through;
    color: #8F8F8F;
    font-weight: 300;
    margin-right: 8px;
}