body {
  height: 100vh !important;
}

.homePageBanner {
  background-color: var(--light-gray-3);
  padding: 0 60px;
  padding-bottom: 80px;
  width: 100vw !important;
}

.banner-container {
  width: 100% !important;
  display: flex;
  justify-content: center;
}

.banner {
  padding: 0 70px;

  width: 100%;
  display: inline-block; 
  vertical-align: middle; 
  width: 50%; 
  & p {
    font-size: large;
    color: var(--warning);
  }

  & h1 {
    font-weight: bolder;
    font-size: 4rem;
    color: var(--dak-gray);
  }

  & p:nth-of-type(2) {
    color: var(--dark-gray-3);
  }

  & button {
    width: 25%;
    color: white !important;
    font-weight: 600;
    background-color: var(--primary);
  }

  & button:hover {
    background-color: var(--tertiary);
  }

}

.carousel-item.active {
  width: 100% !important;
  height: 100%;
  margin-right: 0 !important;
  float: none !important;
}

.carousel-indicators {
  left: 50px;
  display: flex;
  gap: 4px;
  & button {
    background-color: var(--primary) !important;
  }
}

.carousel-indicators [data-bs-target] {
  margin-top: 40px;
  width: 12px; 
  height: 12px; 
  border-radius: 50%; 
}

.carousel-indicators [data-bs-target].active {
  background-color: var(--primary);
  opacity: 1 !important;
}

.carousel-control-next,  .carousel-control-prev {
  display: none !important;
}

.images {
  display: inline-block;
  height: 100%;
}

.tenis-img {
  display: inline-block; 
  width: 70% !important;
  transform: rotate(-15deg)
}

.ornamento {
  margin-bottom: 230px;
}