footer {
    background-color: var(--dark-gray);
    color: var(--white);
    width: 100vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.social {
    display: flex;
    flex-direction: column;
    gap: 1em;
    & .icons {
        display: flex;
        flex-direction: row;
        gap: 3em;
    }
}

.info-cat {
    display: flex;
    gap: 3em;
    flex-direction: row;

    & .info {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    & .cat {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
}

.contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
    & p {
        line-height: 1.6;
    }
}

.direitos {
    text-align: center;
}